<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@gojektech">
  <meta name="twitter:domain" content="gojek.tech">
  <meta name="twitter:creator" content="@gojektech">
  <meta name="twitter:title" content="GO-JEK Tech">
  <meta name="twitter:image" content="gojek.tech/assets/images/logo.png">

  <meta property="og:url" content="http://gojek.tech" />
  <meta property="og:type" content="Engineering Website" />
  <meta property="og:title" content="GO-JEK Tech" />
  <meta property="og:description" content="The GO-JEK Tech Open Source Platform" />
  <meta property="og:image" content="gojek.tech/assets/images/logo.png" />

  <meta name="apple-mobile-web-app-title" content="GO-JEK Tech">
  <meta name="description" content="The GO-JEK Tech Open Source Platform">
  <link rel="canonical" href="http://gojek.tech">

  <link href="../../assets/images/favicon.png" rel="icon" type="image/png" />

  <link href="../../assets/styles/main.css" rel="stylesheet" />
  <script src="../../assets/scripts/main.js"></script>

  
  <title>
    GO-JEK Tech
  </title>
</head>

<body class="partials partials_header partials_header_index">
<nav class="navbar fixed-top navbar-light">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">
      <img src="../../assets/images/go-jek-logo.svg" height="40" class="d-inline-block align-top" alt="GO-JEK">
      <span class="navbar__brand-text">Tech</span>
    </a>
  </div>
</nav>

<header class="header-hero">
  <section class="container-fluid">
    <section class="jumbotron header-hero__jumbotron">
      <div class="col-sm-6">
        <h1>
          GO-JEK Tech
        </h1>
        <h2>
          Our Free and Open Source Software projects.
        </h2>
        <p class="lead">
          Building <a href="http://gojek.com">GO-JEK</a> would not have been possible without Free and Open Source
          Software. Here's a listing of Free and Open Source Software projects actively maintained by
          <a href="http://gojek.io">GO-JEK&nbsp;Tech</a>. We have released these projects in the hopes of being useful
          to the community. For a full list of our contributions, please checkout our
          <a href="http://github.com/gojektech">GitHub</a>.
        </p>
        <p class="header-hero__jumbotron-footer">
          We welcome contributions of all kinds.
        </p>
      </div>
    </section>
  </section>
</header>

<nav class="navbar fixed-top navbar-light">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">
      <img src="../../assets/images/go-jek-logo.svg" height="40" class="d-inline-block align-top" alt="GO-JEK">
      <span class="navbar__brand-text">Tech</span>
    </a>
  </div>
</nav>

<header class="header-hero">
  <section class="container-fluid">
    <section class="jumbotron header-hero__jumbotron">
      <div class="col-sm-6">
        <h1>
          GO-JEK Tech
        </h1>
        <h2>
          Our Free and Open Source Software projects.
        </h2>
        <p class="lead">
          Building <a href="http://gojek.com">GO-JEK</a> would not have been possible without Free and Open Source
          Software. Here's a listing of Free and Open Source Software projects actively maintained by
          <a href="http://gojek.io">GO-JEK&nbsp;Tech</a>. We have released these projects in the hopes of being useful
          to the community. For a full list of our contributions, please checkout our
          <a href="http://github.com/gojektech">GitHub</a>.
        </p>
        <p class="header-hero__jumbotron-footer">
          We welcome contributions of all kinds.
        </p>
      </div>
    </section>
  </section>
</header>

<footer class="footer text-center">
  <div class="container">
    Copyright 2018, <a href="http://gojek.tech">GO-JEK Tech</a>
  </div>
</footer>

</body>
</html>
