<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@gojektech">
  <meta name="twitter:domain" content="gojek.tech">
  <meta name="twitter:creator" content="@gojektech">
  <meta name="twitter:title" content="GO-JEK Tech">
  <meta name="twitter:image" content="gojek.tech/assets/images/logo.png">

  <meta property="og:url" content="http://gojek.tech" />
  <meta property="og:type" content="Engineering Website" />
  <meta property="og:title" content="GO-JEK Tech" />
  <meta property="og:description" content="The GO-JEK Tech Open Source Platform" />
  <meta property="og:image" content="gojek.tech/assets/images/logo.png" />

  <meta name="apple-mobile-web-app-title" content="GO-JEK Tech">
  <meta name="description" content="The GO-JEK Tech Open Source Platform">
  <link rel="canonical" href="http://gojek.tech">

  <link href="../../assets/images/favicon.png" rel="icon" type="image/png" />

  <link href="../../assets/styles/main.css" rel="stylesheet" />
  <script src="../../assets/scripts/main.js"></script>

  
  <title>
    GO-JEK Tech
  </title>
</head>

<body class="partials partials_header partials_header_index">
<header class="header-hero">
  <section class="container-fluid">
    <nav class="navbar navbar-light bg-transparent header-hero__nav">
      <a class="navbar-brand" href="/">
        <img src="../../assets/images/go-jek.svg" height="40" class="d-inline-block align-top" alt="GO-JEK">
        <span class="header-hero__navbar-brand-text">Tech</span>
      </a>
    </nav>
    <section class="jumbotron header-hero__jumbotron">
      <h1>
        GO-JEK Tech's Free and
        <br />
        Open Source Software
        <br />
        projects.
      </h1>
    </section>
  </section>
</header>

<header class="header-hero">
  <section class="container-fluid">
    <nav class="navbar navbar-light bg-transparent header-hero__nav">
      <a class="navbar-brand" href="/">
        <img src="../../assets/images/go-jek.svg" height="40" class="d-inline-block align-top" alt="GO-JEK">
        <span class="header-hero__navbar-brand-text">Tech</span>
      </a>
    </nav>
    <section class="jumbotron header-hero__jumbotron">
      <h1>
        GO-JEK Tech's Free and
        <br />
        Open Source Software
        <br />
        projects.
      </h1>
    </section>
  </section>
</header>

<footer></footer>

</body>
</html>
